# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Env
.env
.env.*

# Capacitor
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/capture/
android/.cxx/
android/.externalNativeBuild/
android/keystore.properties
android/*.keystore
android/*.jks

# Ionic/Capacitor artifacts
www/
